body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    padding-top: 20rem;
}

.satellites {
    /* border: 4px solid black; */
    animation: rotate-axis 10s linear infinite;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

@keyframes rotate-axis {
    from {
        transform: rotateZ(350deg) perspective(800px) rotateY(0deg);
    }
    to {
        transform: rotateZ(350deg) perspective(800px) rotateY(360deg);
    }
}

.satellite {
    position: absolute;
    width: 100px;
    transform: rotateY(calc(var(--i) * 1deg)) translateZ(500px);
}